---
layout: default
title: My blog
type: left-sidebar
---
<!-- Main -->
	<div class="wrapper style2">
		<div class="title">My Blog</div>
		<div id="main" class="container">
			<div class="row 150%">

				<div class="8u 12u(mobile) important(mobile)">
					{% for post in site.posts limit:3 %}
					<!-- Content -->
						<div id="content" class="blog-content">
							<article class="box post left-blog-post">
								<div class="clearfix left-blog-box">
									<header class="col-sm-7">
										<h2 class="text-left">{{ post.title }}</h2>
										<div class="post-time-box">
											
										</div>
										<p>{{ post.subtitle }}</p>
									</header>
									<div class="col-sm-5 text-center">
										Posted on <time>{{ post.date | date_to_long_string }}</time>
									</div>
								</div>
								{% if post.image %}
								<a href="{{ post.url | prepend:site.baseurl }}" class="image featured">
									<img src="{{ post.image }}" alt="{{ post.alt }}">
								</a>
								{% endif %}
								<p>{{ post.excerpt }}</p>
								<a href="{{ post.url | prepend:site.baseurl }}" class="button style2">Continue Reading</a>
							</article>
						</div>
					{% endfor %}
				</div>

				<div class="4u 12u(mobile)">
					<!-- Sidebar -->
						<div id="sidebar">
						{% for post in site.posts limit:8 offset: 3 %}
							<section class="box">
								<header>
									<h2><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="{{ post.url | prepend:site.baseurl }}"class="image left"><img src="{{ post.image }}" alt="{{ post.alt }}"/></a>
											<h3><a href="{{ post.url | prepend:site.baseurl }}">{{ post.subtitle }}</a></h3>
											<p class="no-margin">{{ post.excerpt | truncatewords: 30 }}</p>
										</article>
									</li>
								</ul>
								<hr />
						{% endfor %}
								<a href="/archives.html" class="button style1">Archives</a>
							</section>
						</div>
				</div>
			</div>
		</div>
	</div>