---
layout: default
title: My Services
---

<!-- Highlights -->
<div class="wrapper style3 resume">
	<div class="title">Resume</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="resume-title">
					<div class="sub-head text-center">MY EDUCATION</div>
				</div>
				
			</div>
			<div class="row">
				{% for resume in site.data.resume.education %}
				<div class="col-md-6 col-sm-6 xol-xs-12">
					<div class="experience-wrap education">
						<div class="date-wrap">{{ resume.date }}</div>
						<div class="text-wrap">
							<div class="organization-name">
								<h4>{{ resume.university }}</h4>
								<h5>{{ resume.degree }}</h5>
							</div>
							<div class="text-inner">{{ resume.description }}</div>
						</div>
					</div>					
				</div>
				{% endfor %}
			</div>
		</div><!-- /row -->

		<div class="row">
			<div class="col-md-12">
				<div class="resume-title">
					<div class="sub-head text-center">My Expeience</div>
				</div>
				<div class="row">
				{% for resume in site.data.resume.experience %}
				<div class="col-md-6 col-sm-6 xol-xs-12">
					<div class="experience-wrap experience">
						<div class="date-wrap">{{ resume.date }}</div>
						<div class="text-wrap">
							<div class="organization-name">
								<h4>{{ resume.title }}</h4>
								<h5>{{ resume.place }}</h5>
							</div>
							<div class="text-inner">{{ resume.description }}</div>
						</div>
					</div>					
				</div>
				{% endfor %}
				</div>
			</div>
		</div><!-- /row -->

	
		<div class="main-head">
			<h1>my skills</h1>
		</div>

		<div class="row">
			{% for resume in site.data.resume.skill %}
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="experience-wrap">
					<div class="icon-wrap">
						<i class="fa fa-{{resume.icon}}"></i>
					</div>
					<div class="text-wrap">
						<div class="organization-name skill-name">
							<h4>{{ resume.header }}</h4>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

	</div>
</div>