<div id="footer-wrapper">
	<div id="footer" class="container">
		<header class="style1 text-center">
			<h2>Ipsum sapien elementum portitor?</h2>
			<p>
				Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.<br />
				Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.
			</p>
		</header>
		<hr/>
		<div class="row footer-blocks">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<h2><a href="/index.html">Home</a></h2>
				<h2><a href="/about.html">About Me</a></h2>
				<h2><a href="/services.html">My Services</a></h2>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<h2><a href="/cv.html">Resume</a></h2>
				<h2><a href="/project.html">Projects</a></h2>
				<h2><a href="/blog.html">My Blog</a></h2>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
			<h1>Contact</h1>
			<a href="mailto:example@example.com">example@example.com</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<h1>Follow me</h1>
				<a href=""><i class="fa fa-linkedin"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div>